@model OnlineShop.Models.Employee
@{
    Layout = null;
}

<<<<<<< HEAD
@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
    <div class="container">
        <fieldset>
            <legend>Mvc Simple Login Application Demo</legend>

            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @if (@ViewBag.Message != null)
            {
                <div style="border: 1px solid red">
                    @ViewBag.Message
                </div>
            }
            <table>
                <tr>
                    <td style="padding-right:10px">Company Email</td>
                    <td>@Html.TextBoxFor(a => a.CompanyEmail) </td>
                    <td>@Html.ValidationMessageFor(a => a.CompanyEmail)</td>
                </tr>

                <tr style="padding-top: 30px">
                    <td style="padding-top: 30px">
                        @Html.LabelFor(a => a.Password)
                    </td>

                    <td style="padding-top: 30px">
                        <div>
                            @Html.PasswordFor(a => a.Password)

                        </div>
                    </td>
                    <td>
                        @Html.ValidationMessageFor(a => a.Password)
                    </td>
                </tr>

                <tr>
                    <td></td>

                    <td style="padding-top: 30px">
                        <input type="submit" value="Login" />
                    </td>
                    <td></td>
                </tr>
            </table>
        </fieldset>
    </div>

=======
@*

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body style="">
    @using (Html.BeginForm("Login", "Home", FormMethod.Post))
    {
        <form id="login">
            <fieldset>
                @if (@ViewBag.Message != null)
                {
                    <div style="border: 1px solid red">
                        @ViewBag.Message
                    </div>
                }
                <div class="form-group" style="padding-bottom:10px">
                    @Html.TextBoxFor(a => a.CompanyEmail, new { @placeholder = "Company Email", @autofocus = "autofocus" })
                </div>
                <div class="form-group" style="padding-bottom:10px">
                    @Html.PasswordFor(a => a.Password, new { @placeholder = "Password" })
                </div>
                <div style="padding-left:50px">
                    <input type="submit" value="Login" />
                </div>
            </fieldset>
        </form>
    }
</body>
</html>*@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Animated login form</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

    <style>
      /* NOTE: The styles were added inline because Prefixfree needs access to your styles and they must be inlined if they are on local disk! */
      body {
  font-family: "Open Sans", sans-serif;
  height: 100vh;
  background: url("https://i.imgur.com/HgflTDf.jpg") 50% fixed;
  background-size: cover;
>>>>>>> origin/develop
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
  background: rgba(4, 40, 68, 0.85);
}


footer {
  display: block;
  padding-top: 50px;
  text-align: center;
  color: #ddd;
  font-weight: normal;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2);
  font-size: 0.8em;
}
footer a, footer a:link {
  color: #fff;
  text-decoration: none;
}

    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
</head>
<body>
    <div class="wrapper">
        <form>
            @using (Html.BeginForm("Login", "Home", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <p class="title" style=" margin-left:70px; font-size:30px;font-weight:bold">Log in</p>

                <p>
                    <i class="fa fa-user"></i> @Html.TextBoxFor(a => a.CompanyEmail, new { @placeholder = "Company Email", @autofocus = "autofocus" })
                </p>
                <p>
                    <i class="fa fa-key"></i>@Html.PasswordFor(a => a.Password, new { @placeholder = "Password" })
                </p>

                <input style="margin-left:20px" type="submit" value="Login" />

            }
        </form>


        <footer><a target="blank" href="http://boudra.me/">boudra.me</a></footer>
        </p>
    </div>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

    <script src="js/index.js"></script>


</body>
</html>
